.input-bounding-box {
    width: 100%;
}

.main-content-input {
    height: 30px;
    overflow: hidden;
    width: 100%;
}

.page-content-div {
    margin-left: 10%;
    margin-right: 10%;
}

.mono {
    font-family: "Courier New", Courier, monospace;
}

.no-borders {
    border: 0;
}

.no-outline {
    outline: none;
}

.submit-button-div {
    margin: 20px;
    width: 100%;
}